.title{
    margin-top: 30px;
    display: inline-block;
    font-family: 'DotGothic16', sans-serif;
}

.drake-icon{ 
    border-radius:20px;
}

.title1{
    display: inline-block;
    align-items: center;
}


p{ 
    font-family: 'Gilda Display', serif;
    color: black;
}

hr{
    height: 1px;
    color: black;
    background-color:black;
}

.description{
    box-sizing: border-box;
    display: block;
    font-family: 'Gilda Display', serif;
    font-size: 1.2rem;
    font-weight: bold;
}

.warning{
    text-align: center;
}

.subtitle{
    margin: 20px;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
}

.getText{
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

#drake-pic{
    margin: auto;
    margin-bottom: 20px;
    display:block;
    max-width:300px;
    border-radius: 20px;
}

.instructions{
    text-align: center;
    font-size: 1.2rem;
    display: inline-block;
    font-weight: bold;
}

.row{
    padding-top: 20px;
}

.api-url{
    text-align: left;
    font-size: 1.5rem;
    text-decoration: underline;
    color: black;
}

.clickable{
    margin-top:10px;
    font-size: 1.5rem;
}



.container{
    max-width:800px;
    margin: auto;
}

.subcontainer{
    border: 1px solid;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 70px;
}

.quote{
    display:block;
    padding: 30px;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

}

.faq{
    display:block;
    padding: 20px;
    font-size: 1.2rem;
}

.faq p{
    padding-bottom: 30px;
}

@media only screen and (max-width: 580px) {
    .clickable{
        margin-left: 20px;
    }    

    .api-url{ 
        margin-left: 20px;
    }
}