.title{
    margin-top: 30px;

}

.title1{
    display: inline-block;
    align-items: center;
}


hr{
    height: 1px;
    color: black;
    background-color:black;
}

.subtitle{
    margin: 20px;
}

.getText{
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 20px;
    padding-right: 10px;
    font-weight: bold;
}

#drake-pic{
    margin: auto;
    margin-bottom: 20px;
    display:block;
    max-width:300px;
    border-radius: 20px;
}

.instructions{
    text-align: center;
    font-size: 1.2rem;
    display: inline-block;
    font-weight: bold;
}

.row{
    padding-top: 20px;
}

.api-url{
    text-align: left;
    font-size: 1.5rem;
    text-decoration: underline;
    color: black;
}

.clickable{
    margin-top:10px;
    font-size: 1.5rem;
}

.container{
    max-width:800px;
    margin: auto;
}

.subcontainer{
    border: 1px solid;
    border-radius: 10px;
    margin: 20px;
}

.quote{
    display:block;
    padding: 30px;
    font-size: 1.5rem;
}

.faq{
    display:block;
    padding: 20px;
    font-size: 1.2rem;
}

.faq p{
    padding-bottom: 30px;
}